header {
  background-color: black;
  color: white;
  padding: 10px 20px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}
